.body {
  margin: 0;
  padding: 0;
  gap: 0;
}

.input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #d2d5d8;
  border-radius: 5px;
}

label {
  margin-left: 7px;
}
.Information {
  padding: 0;
  margin: 20px 0 ;
  padding: 1rem;
  background-color: #cff4fc;
  border: 0 solid;
  border-radius: 5px;
}
.profilForm {
  display: flex;
  flex-direction: column;
}
.person-avatar .icon {
  height: 10%;
  left: 460px;
  opacity: 0;
  position: absolute;
  top: 150px;
  transition: all 0.2s ease;

  width: 13%;
  z-index: 1;
}
.person-avatar:hover {
  opacity: 0.5;
}
.person-avatar .icon:hover {
  opacity: 1;
}
.update {
  background-color: #0d6efd;
  color: wheat;
  padding: 0.5rem;
  width: fit-content;
  border: 0 solid;
  border-radius: 5px;
  margin: 12px 12px 40px 12px;
}
.post {
   padding-bottom: 30px;
}
.getPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #d2d5d8;
  border-radius: 5px;
  padding: 10px;
align-items: center;
}
.delet {
  color: aliceblue;
  background-color: #dc3545;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
 }
 